button.button {
  flex: 1;

  appearance: none;
  outline: none;
  padding: 10px;

  cursor: pointer;
  border: 1px solid var(--button-color);
  background-color: var(--button-color);
  color: var(--text-color);
}
